<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
         <div class="main-content">
            <h1 class="heading"> {{>header}} </h1>
        </div>
    </body>
</html>